* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body{
  max-width: 800px;
  width: 100%;
  margin:0px auto;
  background-color:rgb(245, 238, 228);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  color: $header-font-color;
}

h1{
  font-size: 4.2rem;
  margin:10px 10px;
}

p {
  font-size: 1.6rem;
}

header{
  .logoBox{
    width:20%;
  }
  .logo{
    background-color:rgba(250, 250, 250,.4);
    border-radius:20px;
  }
  .titleBox{
    padding-top:20px;
    text-align:center;
    width:80%;
  }
  background-image: url("../img/cac9558f139212d6e1df03aaeaa75a1d230a833a_big.jpg");
  background-repeat: no-repeat;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:300px;
}

main{
  background-image: url("/src/img/rider_10.png");
  background-repeat: repeat-y;
  background-position: center top;
  background-size:800px;

  .infoBox{
    margin:15px 5px;
    background-color:rgba(50,50,50,.1);
    border-radius: 10px;
    box-shadow: 2px 2px #BBB;
  }
}