body{
  width: 100%;
  margin:auto;

}



header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:100px;
}

main{
  background-image: url("/src/img/rider_10.png");
  background-repeat: repeat-y;
  background-position: center top;
  background-size:800px;
}

div{
  height:330px;
  width:600px;
  // background-color: blue;
}
.wallpaper{
  // background-image: url("/src/img/rider_30.png");
  // background-repeat: repeat;
}