$background-color:#fbf9f9;
$main-font-color:#000;
$main-link-color:#e78315;
$header-font-color:#e78315;

$box-color:rgba(193, 182, 188,.3);
// rgba(50,50,50,.1)
// rgba(65,104,53,.1)
$box-shadow-color: 1px 2px 3px #416835;

@mobile:~"(max-width:500px)";